<!DOCTYPE html>
<html>
  <head>

    {% load static %}
    <!-- Link to css file -->
    <link rel="stylesheet" href="{% static 'chess.css' %}"/>

    {% include "bootstrap.html" %}



  </head>
  <body>
    {% include "nav.html" %}
    <hr>CINS465: Jordan Silva</hr>
    <h2>
      <hr>History of Chess</hr>
      <p>
      The Game of chess is a strategy game that involes two players and a total
      of sixteen pieces each. Every piece has it's own role and can play a huge part
      in whether the player is successful. On the front line you have your Pawns, there
      is a total of 8 pawns per player, 2 Rooks, 2 Knights, 2 Bishops, 1 Queen, and 1 king.
      Furthermore chess is one of the older strategy games stilled played today. The idea of chess
      is similiar to shogi and how it was used to develop war strategy and increase quick thinking
      for generals or leaders. Overall chess is a very fun game and still played competitively all over the world.
      </p>
    </h2>
  </body>
</html>
